$primaryColor: #88b44e;
$white: #fff;
$secondaryColor: #252C30;
$font2: "Roboto", sans-serif;
$font1: "Playfair Display", serif;




//bootstrap
$navbar-light-color: #fff;
$navbar-nav-link-padding-x: 2rem;
$navbar-light-hover-color: $primaryColor;
$btn-transition: all 0.3s ease 0s;



