//footer
.footer {
  padding: 40px 0;
  background-color: $secondaryColor;
  color: $white;
  font-family: $font2;
}
.social__list {
  display: flex;
  justify-content: flex-end;
  &-item {
    margin-left: 10px;
    a {
      display: flex;
      width: 50px;
      height: 50px;
      background-color: $primaryColor;
      padding: 15px;
      border-radius: 50%;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: $white;
        transition: all 0.3s ease 0s;
        svg {
          fill: $secondaryColor;
        }
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: $white;
    }
  }
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  padding: 10px;
  background: $primaryColor;
  border-radius: 50%;
  display: none;
  box-shadow: 0px 0px 6px 0px #000000;
  svg {
    width: 100%;
    fill: $white;
    vertical-align: baseline;
  }
}
.positive-text {
  color: $white;
}
.negative-text {
  color: #ca2817;
}
