//header
.is-sticky .progress-container {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: transparent;
}
.is-sticky .progress-bar {
  height: 3px;
  background: $primaryColor;
  width: 0%;
}

.logo {
  display: block;
  width: 70px;
  margin: 10px 0;
  svg {
    width: 100%;
    fill: #fff;
  }
}

.sticky-wrapper.is-sticky .logo svg {
  fill: $primaryColor;
}

.sticky-wrapper.is-sticky .order-btn {
  border: 2px solid $primaryColor;
  border-radius: 50px;
  color: $primaryColor !important;
  &:hover {
    background-color: $primaryColor;
    color: $white !important;
    border: 2px solid $primaryColor;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(175, 99, 68, 0.67);
    box-shadow: 0px 0px 14px 0px rgba(175, 99, 68, 0.67);
  }
}
/* Sticky Wrapper */

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  .site-navbar {
    transition: 0.3s all ease;
    .site-menu-toggle {
      color: $white;
    }
  }
}

.sticky-wrapper .site-navbar .site-menu li a {
  color: $white;
}
.sticky-wrapper .site-navbar .site-menu {
  li a::after {
    content: "";
    display: block;
    width: 100%;
    background-color: $white;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
  }
  li a:hover::after {
    transform: scale(1);
    background-color: $secondaryColor;
  }
  li a.active-link::after {
    content: "";
    display: block;
    width: 100%;
    background-color: $primaryColor;
    height: 1px;
    transform: scale(1);
    transition: all 0.3s;
  }
  // li:hover a::after {
  //   background: $primaryColor;
  // }
  li:last-child a::after {
    display: none;
  }
}

.sticky-wrapper.is-sticky .burger:before,
.sticky-wrapper.is-sticky .burger span,
.sticky-wrapper.is-sticky .burger:after {
  background: $primaryColor;
  transition: 0s all ease;
}

.sticky-wrapper.is-sticky .site-menu .nav-link {
  color: $primaryColor;
  &:hover {
    color: $primaryColor;
  }
}

.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  border-bottom: 1px solid transparent;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  font-family: $font2;
  .site-navigation {
    .site-menu {
      margin-bottom: 0;
      a {
        text-decoration: none !important;
        display: inline-block;
      }
    }
    .site-menu li {
      display: inline-block;
      & a {
        padding: 15px 30px;
        color: $white;
        display: inline-block;
        text-decoration: none !important;
        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
  .order-btn {
    border: 2px solid $white;
    background: transparent;
    &:hover {
      background-color: $secondaryColor;
      color: $white !important;
      border: 2px solid $secondaryColor;
    }
  }
}

//mobile-menu
.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
  font-family: $font2;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu li a.nav-link {
  display: inline-block;
  &::after {
    content: "";
    display: block;
    width: 100%;
    background-color: $navbar-light-color;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
  }
}
.site-mobile-menu li a.active-link::after {
  content: "";
  display: block;
  width: 100%;
  background-color: $primaryColor;
  height: 1px;
  transform: scale(1);
  transition: all 0.3s;
}

.site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu-close {
  float: right;
}

.site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 15px;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s all ease;
}

.site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
}

.site-nav-wrap li {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  a {
    color: $primaryColor;
    padding-left: 20px;
    font-size: 20px;
    &.order {
      color: $white;
    }
  }
}
.site-nav-wrap .nav-item {
  width: auto;
  .order-btn {
    background-color: $primaryColor;
    color: $white;
    border-radius: 0;
  }
}

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
  z-index: 99;
  float: right;
}

.burger:before,
.burger span,
.burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.burger:before,
.burger:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 4px;
}

.burger span {
  top: 15px;
}

.burger:after {
  top: 26px;
}

/* Hover */

.burger:hover:before {
  top: 7px;
}

.burger:hover:after {
  top: 23px;
}

/* Click */

.burger.active span {
  opacity: 0;
}

.burger.active:before,
.burger.active:after {
  top: 40%;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/
}

.burger:focus {
  outline: none;
}

.js-menu-toggle {
  svg {
    width: 20px;
    fill: $primaryColor;
  }
}
